/*********************************************************************
 *           立创开发板不靠卖板赚钱，以培养中国工程师为己任  
 *         泰山派软硬件资料与相关扩展板软硬件资料官网全部开源
 *                      开发板官网：www.lckfb.com            
 *                     立创论坛：oshwhub.com/forum           
 *            关注B站：【立创开发板】，掌握我们的最新动态！  
 *********************************************************************
 * 文件名：tspi-rk3566-dsi-v10.dtsi
 * 描述：mipi 屏幕
 * 更新:
 * 时间          作者           联系           说明
 * 2023-09-13   吴才成    1378913492@qq.com   v1.0.0
 *********************************************************************/

&pwm5 {
	status = "okay";
};


&i2c1 {
    status = "okay";
    clock-frequency = <400000>;
    // 触摸节点
    myts@38 {
        compatible = "my,touch";
        reg = <0x38>;
        max-x = <480>;  // 分辨率 X
        max-y = <800>;  // 分辨率 Y
        touch-gpio = <&gpio1 RK_PA0 IRQ_TYPE_LEVEL_LOW>;
        reset-gpio = <&gpio1 RK_PA1 GPIO_ACTIVE_HIGH>;
    };


    // 背光芯片节点
	// I2C转PWM背光驱动芯片 GP7101，用于保护屏幕背光
    bl_i2c:GP7101@58 {
        compatible = "gp7101-backlight";
        reg = <0x58>;
        max-brightness-levels = <255>;
        default-brightness-level = <100>;
    };
};


&pinctrl {
	dsi1 {
		dsi1_rst_gpio: dsi1-rst-gpio {
			rockchip,pins = <3 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		touch_gpio: touch-gpio {
			rockchip,pins = <1 RK_PA0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

/*
 * video_phy1 needs to be enabled
 * when dsi1 is enabled
 */
&dsi1 {
	status = "okay";
};

&dsi1_in_vp0 {
	status = "okay";
};

&dsi1_in_vp1 {
	status = "disabled";
};

&video_phy1 {
	status = "okay";
};

&route_dsi1 {
	status = "okay";//wucaicheng mipi okay
	connect = <&vp0_out_dsi1>;
};

/************************************************************************************************************************************************
当前为立创官方3.1寸800x480 MIPI触摸屏
ST7701屏幕，480x800分辨率
************************************************************************************************************************************************/
&dsi1 {
	status = "okay";
	// rockchip,lane-rate = <421>;  //akiva
	dsi1_panel: panel@0 {
		status = "okay";
		compatible = "simple-panel-dsi";
		rotation = <90>;  // 顺时针旋转90度
		reset-gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&dsi1_rst_gpio>;
		reg = <0>;
		backlight = <&bl_i2c>;
		reset-delay-ms = <30>;
		enable-delay-ms = <100>;
		prepare-delay-ms = <20>;
		unprepare-delay-ms = <20>;
		disable-delay-ms = <20>;
		init-delay-ms = <10>;
		
		panel-width-mm = <480>;
		panel-height-mm = <800>;
		panel-dsi-lane = <2>;

		dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST |
			MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_EOT_PACKET)>;
		dsi,format = <MIPI_DSI_FMT_RGB888>;
		dsi,lanes = <2>;

		panel-init-sequence = [
			39 00 06 ff 77 01 00 00 13
			39 00 02 ef 08
			39 00 06 ff 77 01 00 00 10
			39 00 03 c0 63 00
			39 00 03 c1 10 02
			39 00 03 c2 31 02
			39 00 02 cc 10
			39 00 11 b0 c0 0c 92 0c 10 05 02 0d 07 21 04 53 11 6a 32 1f
			39 00 11 b1 c0 87 cf 0c 10 06 00 03 08 1d 06 54 12 e6 ec 0f
			39 00 06 ff 77 01 00 00 11
			39 00 02 b0 5d
			39 00 02 b1 62
			39 00 02 b2 82
			39 00 02 b3 80
			39 00 02 b5 42
			39 00 02 b7 85
			39 00 02 b8 20
			39 00 02 c0 09
			39 00 02 c1 78
			39 00 02 c2 78
			39 00 02 d0 88
			39 ff 02 ee 42
			39 00 04 e0 00 00 02
			39 00 0c e1 04 a0 06 a0 05 a0 07 a0 00 44 44
			39 00 0d e2 00 00 33 33 01 a0 00 00 01 a0 00 00
			39 00 05 e3 00 00 33 33
			39 00 03 e4 44 44
			39 00 11 e5 0c 30 a0 a0 0e 32 a0 a0 08 2c a0 a0 0a 2e a0 a0
			39 00 05 e6 00 00 33 33
			39 00 03 e7 44 44
			39 00 11 e8 0d 31 a0 a0 0f 33 a0 a0 09 2d a0 a0 0b 2f a0 a0
			39 00 08 eb 00 01 e4 e4 44 88 00
			39 00 11 ed ff f5 47 6f 0b a1 a2 bf fb 2a 1a b0 f6 74 5f ff
			39 00 07 ef 08 08 08 40 3f 64
			39 00 06 ff 77 01 00 00 13
			39 00 03 e8 00 0e
			39 00 06 ff 77 01 00 00 00
			39 ff 01 11
			39 00 06 ff 77 01 00 00 13
			39 ff 03 e8 00 0c
			39 00 03 e8 00 00
			39 00 06 ff 77 01 00 00 00
			39 00 02 3a 50
			39 ff 01 29
		];

		panel-exit-sequence = [
			05 00 01 28
			05 00 01 10
		];

		disp_timings1: display-timings {
			native-mode = <&dsi1_timing0>;
			dsi1_timing0: timing0 {
				clock-frequency = <39600000>;
				hactive = <480>;
				vactive = <800>;
				hfront-porch = <80>;
				hsync-len = <20>;
				hback-porch = <20>;
				vfront-porch = <220>;
				vsync-len = <10>;
				vback-porch = <70>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				panel_in_dsi1: endpoint {
					remote-endpoint = <&dsi1_out_panel>;
				};
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			dsi1_out_panel: endpoint {
				remote-endpoint = <&panel_in_dsi1>;
			};
		};
	};
};